
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}

.antdCarousel div{
  text-align: center;
  height: 80vh; 
  background: #fff;
}

.antdCarousel div h3 {
  color: #fff;
}

.headerStyle{
  background: #fff;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.siderStyle{
  background: #fff;
  height: 100vh;
  width: 15vw;
}

.contentStyle{
  height: 80vh;
}

.footerInfo{
  color: #bdc3c7;
  font-size: 10px;
  letter-spacing: 3px;
}

.headerLeftBox{
  
}

.mainTitle{
  color: #6F1E51;
  font-weight: bolder;
  font-size: 20px;
}

.subTitle{
  margin-left: 10px;
  color: #B53471;
  font-size: 5px;
  line-height: 5px;
  letter-spacing: 2px;
}

.headerRightBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  width: 200px;
  color: #bdc3c7;
}

.iconList{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  margin-right: 10px;
}

.carouselDivbox img{
  height: 100%;
  width: 100%;
}

.footerStyle{
  background: #fff;
}